#border{
	color: blue;
	background: yellow;
	/*padding: 50px;*/ /*Para el tamaño, si no especificamos se le aplica a todos los lados*/
	padding-top: 50px;
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 50px;
	/*padding: 50px 60px 70px 150px;*/
	/*color al borde-->Va después del padding*/
	border: 50px solid black; /*necesita un unico tamaño*/
	/*solid black solo aplica para los bordes... no vas a aplicar color a un  margen*/
}


img{
	background: pink;
	padding: 50px;
	border: 30px solid black;
	padding: 80px;
}


.p1{
	color: white;
	border: 30px;
	text-align: justify;
}
